<%= form_for @booking do |f| %>
  <p>
  <%= f.label :date %>
  <%= f.date_field :date, value: Date.today %>
  </p>

  <p>
  <%= f.label :time %>
  <%= f.time_field :time %>
  </p>

  <p>
  <%= f.label :duration_hours %>
  <%= f.number_field :duration_hours, value: 0 %>
  </p>

  <p>
  <%= f.label :duration_minutes %>
  <%= f.number_field :duration_minutes, value: 30 %>
  </p>

  <p>
  <%= f.label :resource %>
  <%= f.select :resource, options_for_select(@resources.map { |r| [r.name, r.integration_id] }), prompt: 'All Rooms' %>
  </p>
  <%= f.submit %>
<% end %>
